<!DOCTYPE html>
<html lang="en">

<head>
  <title>EPL Prediction Bot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!--Stylesheets-->
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


  <!--Javacript-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-inverse" id="NavigationBar">
      <div>
        <span class="topbutton" id="name">EPL Prediction Bot</span>
      </div>
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="#How">
              <span class="topbutton">Home</span>
            </a></li>
          <li><a href="#Predict">
              <span class="topbutton">Predict</span>
            </a></li>
          <li><a href="#">
              <span class="topbutton">Standings</span>
            </a></li>
          <li><a href="#">
              <span class="topbutton">About</span>
            </a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div class="homescreen">
      <a href="#How"><button type="button" id="PredictNow"><strong>PREDICT NOW!</strong></button></a>
    </div>

    <div class="Description" id="How">
      <h1 class="paragraph"><Strong>How does it work?</Strong></h1>
      <p>This bot analyses past fixtures to predict future matches</p>
    </div>
      
      <div class="content-section">
        <form method="POST" action="/">
          <fieldset class="form-group">     
      
            <div class="form-group">
              <span>Home Team : </span>
              <input class="input" type="text" name="HomeTeam">
            </div>
      
      
            <div class="form-group">
           
              <span>Away Team : </span>
              <input class="input" type="text" name="AwayTeam">
            </div>
            

            <div class="test">
              The home team is {{ state }}
              The away team is {{ state2 }}
              prediction is {{ prediction }}
            </div>
      
          </fieldset>

          <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Predict">
            
          </div>

        </form>
      </div>
      <!-- Could write a for loop here for the teams... -->
      <div class="list">
        <p>Here is a list of teams in the English Premier League:</p>
        <ul>
          <li>Arsenal</li>
          <li>Bournemouth</li>
          <li>Brighton</li>
          <li>Burnley</li>
          <li>Cardiff</li>
          <li>Chelsea</li>
          <li>Crystal Palace</li>
          <li>Everton</li>
          <li>Fulham</li>
          <li>Huddersfield</li>
          <li>Leicester</li>
          <li>Liverpool</li>
          <li>Man City</li>
          <li>Man United</li>
          <li>Newcastle</li>
          <li>Southampton</li>
          <li>Tottenham</li>
          <li>Watford</li>
          <li>West Ham</li>
          <li>Wolves</li>
        </ul>
        <p><Strong>Important note: Input names must match the names on the list.</Strong></p>
      </div>





      <div class="PredictingModel" id="Predict">
        <h1 class="paragraph"><Strong>Predicting Model</Strong></h1>
        <p>This bot analyses past fixtures to predict future matches</p>
        <p>This bot analyses past fixtures to predict future matches</p>
        <p>This bot analyses past fixtures to predict future matches</p>
        <p>This bot analyses past fixtures to predict future matches</p>

        <p>This bot analyses past fixtures to predict future matches</p>
        <p>This bot analyses past fixtures to predict future matches</p>
        <p>This bot analyses past fixtures to predict future matches</p>
        <p>This bot analyses past fixtures to predict future matches</p>
        <p>This bot analyses past fixtures to predict future matches</p>
        <p>This bot analyses past fixtures to predict future matches</p>
        <p>This bot analyses past fixtures to predict future matches</p>
        <p>This bot analyses past fixtures to predict future matches</p>
        <p>This bot analyses past fixtures to predict future matches</p>

      </div>

  </main>
  <footer>
    <p>Posted by: Hege Refsnes</p>
    <p>Contact information: <a href="mailto:someone@example.com">
        er.li@mail.mcgill.ca</a></p>
  </footer>


</body>

</html>