<!DOCTYPE html>
<html lang="en">
<head>
  <title>EPL Prediction Bot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!--Stylesheets-->
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!--Javacript-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse" id="NavigationBar">
<div><scan class="topbutton" id="name">EPL Prediction Bot</scan></div>
  <div class="container-fluid">       
    <ul class="nav navbar-nav" >    
        <li><a href="#"><scan class="topbutton">Home</scan></a></li>
        <li><a href="#"><scan class="topbutton">Predict</scan></a></li>
        <li><a href="#"><scan class="topbutton">Standings</scan></a></li>
        <li><a href="#"><scan class="topbutton">About</scan></a></li>    
    </ul>
  </div>
</nav>
<main>
<div class="homescreen">
    <a href = "#How"><button type="button" id="PredictNow"><strong>PREDICT NOW!</strong></button></a>
</div>

<div class ="Description" id="How">
<h1 class="paragraph"><Strong>How does it work?</Strong></h1>
<p>This bot analyses past fixtures to predict future matches</p>
</div>

</main>
</body>
</html>

