<!DOCTYPE html>
<html lang="en">
<head>
  <title>EPL Prediction Bot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!--Stylesheets-->
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!--Javacript-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body>

<nav class="navbar navbar-inverse" id="NavigationBar">
<div><scan class="topbutton" id="name">EPL Prediction Bot</scan></div>
  <div class="container-fluid">       
    <ul class="nav navbar-nav" >    
        <li><a href="#How"><scan class="topbutton">Home</scan></a></li>
        <li><a href="#"><scan class="topbutton">Predict</scan></a></li>
        <li><a href="#"><scan class="topbutton">Standings</scan></a></li>
        <li><a href="#"><scan class="topbutton">About</scan></a></li>    
    </ul>
  </div>
</nav>
<main>
<div class="homescreen">
    <a href = "#How"><button type="button" id="PredictNow"><strong>PREDICT NOW!</strong></button></a>
</div>

<div class ="Description" id="How">
<h1 class="paragraph"><Strong>How does it work?</Strong></h1>
<p class="paragraph">This bot analyses past fixtures to predict future matches</p>


<form id= "submit" class= "paragraph" action="/action_page.php" class="paragraph">
  <scan>Home Team: <input type="text" name="FirstName" value="Team Name"></scan> <br> <br><br>
  Away Team : <input type="text" name="LastName" value="Team Name">  <br><br><br>
  <span>  <input id= "input" type="submit" value="Predict Now" > </span>
  </form>



<div id="text1">  
  <img class="image1" src="https://scontent.fymy1-1.fna.fbcdn.net/v/t1.15752-9/55575537_2243919735858748_6032219775537512448_n.png?_nc_cat=107&_nc_ht=scontent.fymy1-1.fna&oh=262cc29542cf25f5e7e4bcf8d1126be6&oe=5D4A1DCA">

  <p> 
    Je me sens belle <br>
    Et je suis belle lol <br> 
    我真的简直是大美女 <br> 
    不用夸我 
  </p>
</div>
    <!-- <p class="text1">  aaaaaaaaaaaaa </p>   
    <img class="image1" src="https://scontent.fymy1-1.fna.fbcdn.net/v/t1.15752-9/55575537_2243919735858748_6032219775537512448_n.png?_nc_cat=107&_nc_ht=scontent.fymy1-1.fna&oh=262cc29542cf25f5e7e4bcf8d1126be6&oe=5D4A1DCA">
    <p class="text1"> 
     ccccccc 
    </p> -->
  <!-- <p class=text2> a </p> -->
  <!-- <p class=text2> a </p> -->
  <!-- <p class=text2> a </p> -->
  <!-- <p class=text2> a </p> -->
  <!-- <p class=text2> a </p> -->
  <!-- <p class=text2> a </p> -->
  <!-- <p class=text2> a </p> -->
  <!-- <p class=text2> a </p> -->
  <!-- <p class=text2> a </p> -->
  <!-- <p class=text2> a </p> -->

 </div>




<div class= "text2"> 
<p>This boThis bot analyses past fixtures to predict future matches</p>
<p>This bot analyses past fixtures to predict future matches</p>
<p>This bot analyses past fixtures to predict future matches</p>
<p>This bot analyses past fixtures to predict future matches</p>
<img class="image2" src="https://scontent.fymy1-1.fna.fbcdn.net/v/t1.15752-9/55575537_2243919735858748_6032219775537512448_n.png?_nc_cat=107&_nc_ht=scontent.fymy1-1.fna&oh=262cc29542cf25f5e7e4bcf8d1126be6&oe=5D4A1DCA">

<p>This bot analyses past fixtures to predict future matches</p>
<p>This bot analyses past fixtures to predict future matches</p>
<p>This bot analyses past fixtures to predict future matches</p>
<p>This bot analyses past fixtures to predict future matches</p>
<p>This bot analyses past fixtures to predict future matches</p>
<p>This bot analyses past fixtures to predict future matches</p>
<p>This bot analyses past fixtures to predict future matches</p>
<p>This bot analyses past fixtures to predict future matches</p>
<p>This bot analyses past fixtures to predict future matches</p>
<p>This bot analyses past fixtures to predict future matches</p>
<p>This bot analyses past fixtures to predict future matches</p>
</div>





</main>

<footer> 
<div class="contact"> 
    <h3>
      <br> 
      Contact Us
    </h3>
      <p> 
        <br>
        Michael Li <br>
        er.li@mail.mcgill.ca
      </p>
</div>
</footer>


</body>
</html>

